body {
  background: #f4efda;
  color: #f6b260;
  font-size: 11px;
 
  height: auto;
  padding-bottom: 20px;
 
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  background-image: url(img/bkg2.gif);
	background-repeat: repeat-x;text-align: center;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

p {
  border: 1px solid #666;
  overflow: hidden;
  padding: 10px 0;
  text-align: center; Demo
}

.container_12,
 {
  background-color: #fff;
  background-repeat: repeat-y;
  background-image: url(img/bkg2.gif);
	background-repeat: repeat-x;
}

.container_12 {
  
}

}
#background
{
	background-color:#f4efda
}
	
li
{
	list-style:none;
}

#titleBkg
{
	
	background-image:url(img/bkg1.gif);
	background-repeat: repeat-x;
}
#title
{
	
	background-image:url(img/bkg1.gif);
	background-repeat: repeat-x;
	text-align: center;
	
}

#logo
{
	margin-top:20px;
	height:125px;
	background-image:url(img/logo.gif);
	background-repeat:no-repeat;
}
#contact
{
	height:80px;
	margin-top:65px;
	color: #7a8b36;
	
	
	background-image: url(img/contactRing.gif);
	background-repeat:no-repeat;
}
#contactText
{
	margin-top:30px;
}

#titleTag
{
	margin-top:20px;
	background-image:url(img/titleTagBkg.gif);
	background-repeat: no-repeat;
	min-height:30px;
	text-align: center;
}
#paypalCart,
#titleTagContainer
{
	
	background-image:url(img/bkg2.gif);
	background-repeat: repeat-x;
}
#topBar,
#botBar
{
	margin-top:20px;
	
	background-image:url(img/sepBar.gif);
	background-repeat:no-repeat;
	min-width:960px;
	min-height:15px;
}
#navContainer
{
	
	background-image:url(img/bkg2.gif);
	background-repeat: repeat-x;
	text-align:center;
}

#pictures,
#about
{
	margin-top:20px;
	background-image:url(img/navBkg.gif);
	background-repeat:no-repeat;
}
#order
{
	margin-top:20px;
	background-image:url(img/navBkg.gif);
	background-repeat:no-repeat;
}
#aboutInfo
{
	margin-top:60px;
	margin-left:120px;
	margin-right:auto;

	min-height:350px;
}
#pictureContainer,
#sellOfferContainer
{
	color: #7a8b36;
	background-image: url(img/bkg2.gif);
	background-repeat: repeat-x;
	min-height:400px;
}
#picture,
#productContainer
{
	color: #7a8b36;
	background-image: url(img/bkg2.gif);
	background-repeat: repeat-x;
	min-height:400px;
	
}
#bkgOverlay
{
	color: #7a8b36;
	background-image: url(img/bkg2.gif);
	background-repeat: repeat;
}
	
#sellOffer
{
	margin-top:20px;
	background-image:url(img/offerRing.gif);
	background-repeat: no-repeat;
	min-height:350px;
}
#sellText,
#sellPicture
{
	margin-top:60px;
	min-height:100px;	margin-left:auto;
	
}
#thumbNail1,
#thumbNail2,
#thumbNail3

{
	margin-top:25px;
	margin-left:0px;
	
}
#thumbNailPictures
{
	padding-top:0px;
	background-image:url(img/thumbRing.gif);
	background-repeat: no-repeat;
	min-height:150px;
}

#thumbNailContainer
{
	color: #7a8b36;
	padding-top:0px;
	background-image: url(img/bkg3.gif);
	background-repeat: repeat-x;
	
}
#footerContainer
{
	color: #7a8b36;
	background-image: url(img/bkg3.gif);
	background-repeat: repeat-x;
}
